* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #F6f6F2;
	color: #edebd9;
font-family: 'Open Sans', sans-serif;
}

#nav{
	background-color: #fff;
	border: none;
}

#nav p{
	font-size: 1.5rem;
	color: rgb(44, 49,69);
	font-weight: 700;
	font-family: 'Rowdies', cursive;

}

#nav span{
	color: rgb(41, 194,148);
}

#navbarNav a {
	color: #848484;
	font-size: 1.2rem;
	font-weight: 700;
	padding: 0 20px;
}

#navbarNav a:hover {
	color: #02cf80;
}
/*Landing*/

#landing{
	background:url(./images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
}

#landing h5 {
	color: #2c3144;
	font-size: 64px;
	font-style: normal;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	line-height: 72px; /* 112.5% */
letter-spacing: -1.28px;
}

#landing h1 {
	color: #2c3144;
	font-size: 64px;
	font-style: normal;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	line-height: 72px; /* 112.5% */
letter-spacing: -1.28px;
}

#landing span {
	color: #11a58d;
	font-weight: 600;
}
#landing p {
	color: #2c3144;
font-size: 1.3rem;
}
.jumbotron{
	background: transparent;
}

.social-media a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: linear-gradient(#01d580,#199094);
	border: 2px solid none;
	border-radius: 50%;
	font-size: 1.25rem;
	color:#2c3144;
	text-decoration: none;
	margin-right: 1.2rem;
}

.social-media a:hover {
	background-color: #179391;
	color:#fff ;
	transition: 0.5s ease;
	box-shadow: 0 0 10px #01d580;
}

#landing img{
	max-width: 400px;
}
/*projects*/

#projects{
	background:url(./images/bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

#projects h5 {
	color: #9b9da9;
	text-align: center;
	font-size: 1.3rem;
	padding-top: 2em;

}

#projects h3{
	color:#2bbd92;
	font-size: 54px;
	font-style: normal;
	font-weight: 600;
	text-align: center;
}

.card {
	width: 18rem;
	border: none;
	box-shadow: 0 0 10px grey;
}
.card h6 {
	color: #9b9da9;
}

.card h4 {
	color: #2bbd92;
	font-weight: 600;
	font-size: 22px;
	text-align: center;
}

.card p {
	color: #9b9da9;
	text-align: justify;
}

.card a {
	border: 2px solid #9b9da9;
	background: transparent;
	border-radius: 10px;
	text-decoration: none;
	padding: 2px 10px;
	color: #9b9da9;
}

.card a:hover{

	background: linear-gradient(#01d580,#199094);
	color:#fff;
	font-weight: 600;
	border:none;
}

/*tools*/
#tools{
	background:url(./images/bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#tools h4 {
	color: #9b9da9;
	text-align: center;
	font-size: 1.3rem;
	padding-top: 1.5em;

}

#tools h3{
	color:#2bbd92;
	font-size: 54px;
	font-style: normal;
	font-weight: 600;
	text-align: center;
}

#tools-box {

	width: 18rem;
	border: none;
	border-radius: 20px;
	box-shadow: 0 0 10px grey; 
	padding: 20px;
	margin: 0 20px;

}

#tools-box:hover {
	background: linear-gradient(#01d580,#199094);
	transition: 0.5s ease;
}

#tools-box:hover a{
	background: #fff;
	color:#2c3145;
	transition: 0.5s ease;
}

#tools-box:hover p {
	color: #fff;
}

#tools-box:hover h6{
	color: #fff;
}

#tools-box:hover h5 {
	background: #fff;
	border:none;
	color: #199094;
}



#tools-box a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	background: linear-gradient(#01d580,#199094);
	border: none;
	border-radius: 50%;
	font-size: 2rem;
	color:#fff;
	text-decoration: none;
	margin-right: 1.2rem;
}

#tools h6{
	color: darkgrey;
	font-size: 1.5rem;
	font-weight: 600;
}

#tools h5 {
	border: 2px solid #9b9da9;
	background: transparent;
	border-radius: 10px;	
	padding: 5px 10px;
	font-size: 1rem;
	color: #9b9da9;
	text-align: center;
}

/*contacts*/

#contacts{
	background:url(./images/bg1.webp);
	background-repeat: no-repeat;
	background-size: cover;
		min-height: 100vh;
}
.contact-form {
	background: whitesmoke;
	border: none;
		box-shadow: 0 0 5px grey; 
		margin-top: 120px;
}

#contacts h4{
	color: #0cb388;
	font-weight: 600;
}

#contacts h3{
	color: #0cb388;
	font-weight: 600;
}

#contacts a{
	color: #2c3145;
	font-weight: 600;
}

#contacts p {
	color:#2c3145;
}


#contacts label{
	color: #2c3145;
	font-weight: 600;
}

#contacts input{
	max-width: 1000px;
	border: none;
	border-bottom: 2px solid black;
	box-shadow: 0 0 2px black; 
	border-radius: 5px;
}

#contacts textarea{
	max-width: 1000px;
	border: none;
	border-bottom: 2px solid black;
	box-shadow: 0 0 2px black; 
	border-radius: 5px;
}

#contacts button{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#01d580,#199094);
	border: none;
	border-radius: 10px;
	font-size: 1.5rem;
	color:#fff;
	text-decoration: none;
	padding: 0 100px;
}

#contacts button:hover {
	background: linear-gradient(#199094, #01d580);
}


/*footer*/

footer {
	background:#2c3145;

}

footer p {
	text-align: center;
	font-style: italic;
}



